<div data-interval="1000"id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button *ngFor="let url of banners; let i = index" type="button" data-bs-target="#carouselExampleCaptions" [attr.data-bs-slide-to]="i" [attr.aria-current]="{true: i == 0}" aria-label="..." [ngClass]="{'active': i == 0}">
    </button>
</div>
  
  <div class="carousel-inner">
    <!-- ngfor loop using get dynamic value and ngclass for add acive class -->
    <div class="carousel-item" *ngFor="let result of banners; let i = index" [ngClass]="{'active': i === 1}">
      <img src='http://localhost:3001/src/{{result.image}}' />
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>