button{
    background: linear-gradient(91deg, #B5179E 21.23%, rgba(114, 9, 183, 0.70) 117.66%);
    color:white;
}
.iconbutton{
    border: none;
    padding: 25px;
    width: 20px;
    width: 20px;
    /* background: url(./../../assets/icon/shopping-cart.png) no-repeat;   */
}
/* .iconbutton:hover{
    background: url(./../../assets/icon/shopping-cart-hover.png) no-repeat;
} */

.bg {
background-color: #000000;
height: 100%;
width: 100%;
position: fixed;
top: 0;
left: 0;
}
.card {
padding: 10px;
border: none;
border-radius: 10px;
background: #1c1c1c
}
.card:hover {
    background: #232323;
/* box-shadow: 5px 6px 6px 2px #cccecf; */
/* transform: scale(1.1) */
}
.avatar{
    width: 60px; height: 60px; 
    background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%);
    border: 1.50px #B5179E solid
}
.title{
    left: 80px; top: 10px; position: absolute; 
}
.name{
    color: white; font-size: 20px; 
    font-weight: 600;
}
.author{
    color: #F1F1F1; font-size: 12px; font-weight: 400; text-transform: capitalize; letter-spacing: 0.24px; word-wrap: break-word
}
.premium {
    padding: 5px;
    background: linear-gradient(91deg, #B5179E 21.23%, rgba(114, 9, 183, 0.70) 117.66%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #fff;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
    }
    .premium:empty{
        padding: 0;
    }
    .product-detail-container {
    padding: 10px
    }